<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<img class="image" src="images/fish3.jpg" >
<p class = "para"> A fish is any member of a paraphyletic group
    of organisms that consist of all gill-<span class="highlight">bearing aquatic craniate animals
that lack limbs with digits</span>. Included in this definition are the
    living hagfish, lampreys, and cartilaginous and bony fish, as well as
    various extinct related groups. Most fish are ectothermic ("cold-blooded"),
    allowing their body temperatures to vary as ambient temperatures change,
    though some of the large active swimmers like white shark and tuna can hold a higher core temperature.</p>

</body>
</html>
