<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img class="image" src="images/fish4.jpg" >
    <ul>
     <% fisher.fishes.forEach(function(item){%>
        <img class="image"  src="<%= item.img %>" >


    <% } ); %>


    </ul>


  </body>
</html>
